/* ------------------------- Fonts ------------------------- */

/* ------------------------- Defaults ------------------------- */

* {
    background: none;
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
}

/* ------------------------- Navbar ------------------------- */

nav.navbar {
    background-color: #000;
}

nav.navbar div.container a.navbar-brand {
    color: #fff;
}

/* nav.navbar div.container button.navbar-toggler {
    color: #fff !important;
}

nav.navbar div.container button.navbar-toggler span.navbar-toggler-icon {
    color: #fff !important;
} */

nav.navbar div.container div.navbar-collapse ul li {
    color: #fff;
}

nav.navbar div.container div.navbar-collapse ul li a {
    color: #fff;
}

nav.navbar-scroll.navbar-dark {
    background-color: #000;
}

nav.navbar-scroll.navbar-dark ul li a {
    color: #fff;
}

nav div.container div ul li {
    font-size: 20px;
    padding: 0 50px;
}

/* ------------------------- Homepage ------------------------- */

section.homepage {
    display: block;
    margin: auto;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
    font-size: 4.5rem;
    text-align: center;
}

section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
    font-size: 2rem;
    text-align: center;
}

/* ------------------------- Footer ------------------------- */

footer.footer {
    /* background-color: #808080; */
    /* background-color: #000; */
    position: absolute;
    top: auto;
    bottom: 0%;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

footer.footer div.container-fluid div.social a {
    padding: 0 5px;
    text-decoration: none;
}

footer.footer div.container-fluid div.social a img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* ------------------------- Responsive ------------------------- */

@media screen and (max-width: 1285px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 35px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 30px;
    }
    
    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 45px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 1024px) and (max-height: 1370px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 35px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 25px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 45px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 1024px) and (max-height: 605px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 35px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 25px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 45px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 915px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 50px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 45px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 80px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 75px !important;
    }
}

@media screen and (max-width: 825px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 40px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 35px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 70px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 65px !important;
    }
}

@media screen and (max-width: 770px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 35px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 25px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 65px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 60px !important;
    }
}

@media screen and (max-width: 545px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 22px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 20px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 45px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 435px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 30px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 25px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 35px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 415px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 30px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 25px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 35px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 413px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 30px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 25px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 30px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 395px) {
    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 30px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 380px) {
    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 30px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 365px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 25px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 20px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 25px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 320px) {
    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 25px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 285px) {
    nav.navbar div.container a.navbar-brand {
        font-size: 15px;
    }

    nav.navbar div.container div.navbar-collapse ul li {
        font-size: 12px;
    }

    section.homepage div.container-fluid div.row div.homepage-content h2.homepage-title {
        font-size: 20px !important;
    }

    section.homepage div.container-fluid div.row div.homepage-content p.homepage-text {
        font-size: 15px !important;
    }
}